<div class="card-content" id="add_post">
  {% if post_added %}
  <p class="has-text-success">Post added</p>
  {% endif %}
  <form
    hx-post="/posts"
    hx-trigger="submit"
    hx-target="#add_post"
    hx-encoding="multipart/form-data"
    hx-swap="outerHTML"
  >
    <!-- hx-ext="json-enc"> -->
    <label class="label">Post Title</label>
    <input type="text" name="post_title" class="input" />
    <label class="label">Post</label>
    <input type="text" name="post_text" class="input" />
    <input type="file" name="post_image" class="input" />
    <input type="submit" class="button" value="Add Post" />
  </form>
</div>
