<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
  </head>
  <body>
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">Sign up</p>
          </header>
          <div class="card-content">
            <form action="/signup" method="post">
              <label for="username" class="label">Username</label>
              {% if taken %}
              <p>Username {{ username }} already taken!</p>
              {% endif %}
              <input type="text" name="username" class="input" />
              <label for="password" class="label">Password</label>
              <input type="password" name="password" class="input" />
              <input type="submit" class="button" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://unpkg.com/htmx.org@2.0.2"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
